.main{
	overflow:scroll ;
}
.el-header{
	min-width:1000px;
	max-width:100%;
}
.el-main{
	min-width:800px;
}
.el-submenu__title {
	color: #fff !important;
	background-color: #535c66;
}

.el-menu-item {
	color: #fff !important;
	background-color: #535c66;
}

.el-aside {
	position: relative;
	left: 0;
	top: 0px;
	height:620px;
	background-color: #535c66;
	opacity: 0.9;
	border-radius: 10px;
	border: 1px solid hsla(0, 0%, 100%, .8);
	box-shadow: 10px 10px 20px rgb(0 0 0 / 40%);
	margin-top: 10px;
	margin-right: 10px;
}

.el-menu-item:hover,
.el-menu-item:focus {
	outline: 0 !important;
	background-color: #717c8a !important;
}

.el-submenu__title:focus,
.el-submenu__title:hover {
	outline: 0 !important;
	color: #3a92ea !important;
	background: none !important;
}

.el-menu-item.is-active {
	background-color: #535b66 !important;
}

.homeheader {
	display: flex;
	background-color: #f5f8fa;
	margin-bottom: 10px;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	box-sizing: border-box;
	opacity: 0.9;
	border: 1px solid #e7eef3;
	z-index: 999 !important;

}

.headtitle {
	font-size: 20px;
	margin-left: 20px;
	color: #303844;
	letter-spacing: 2px;
	line-height:20px;
	margin-top:20px;

}

.el-dropdown-link {
	color: #4c4f64;
	width: 100%;
	font-size: 13px;
	font-weight: 550;
	margin-right: 40px;
}

.el-dropdown-link img {
	width: 45px;
	height: 45px;
	border-radius: 24px;
	padding: 1px;
	border: 2px solid #d3e0e2;
	transform: translatex(15px);
}

.username {
	color: #2c3343 !important;
	font-weight: 550;
	border-bottom: 1px solid #d6d6d6;
	margin-left: 15px !important;
	margin-right: 15px !important;
}

#he-plugin-simple {
	display: inline-block;
}

.left {
	display: flex;
}
.item{
	margin-right: 25px;
	transform: translateY(-16px);
}
/* #game {
	display: inline-block;
	font-size: 13px;
	color: #999ba5;
	transform: translateY(-16px);
	margin-right: 10px;
	font-weight: 600;
}

#game a {
	color: #6f80a5;
}
 */
#nav {
	display: inline-block;
	background-color: #cbcbcb;
	border-radius: 15px;
	font-size: 14px;
	transform: translateY(-16px);
	color: #ffffff;
	padding: 5px 0 5px 0;
}

#nav2 {
	display: inline-block;
	font-size: 14px;
	transform: translateY(-16px);
	color: #54555b;
}

.mainview {
	margin: 20px;
	border-radius: 15px;
	box-shadow: 5px 5px 12px rgb(0 0 0 / 40%);
	background-color: #fff;
	opacity: 0.9;
	min-width: 400px;
	width:auto;
	height:auto;
	padding: 10px;
}

/* 
风车 */
.box {
	margin-left: 20px;
	transform: perspective(1000px) rotateY(-65deg);
	/*动画 视距 Y轴旋转*/
	width: 60px;
	/*宽度*/
	height: 60px;
	/*高度*/
	transform-style: preserve-3d;
	/*保留3D效果*/
}

.box div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	animation: cc 5s linear infinite;
	/*动画名称 5S 时间 重复循环*/
}

.box div span {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #dbe8f1, #b6cad1, #edf8f8);
	/*渐变*/
	border-radius: 20px;
	/*圆角*/
}

.box div span:nth-child(1) {
	/*第一个*/
	transform: rotateX(0deg);
}

.box div span:nth-child(2) {
	transform: rotateX(45deg);
}

.box div span:nth-child(3) {
	transform: rotateX(-45deg);
}

.box div span:nth-child(4) {
	transform: rotateX(90deg);
}

@keyframes cc {

	/*动画*/
	0% {
		transform: perspective(1000px) rotateX(0deg);
	}

	100% {
		transform: perspective(1000px) rotateX(359deg);
	}
}
