	html{
		margin:0;
		padding:0;
	}
	.main{
		position: absolute;
		left: 0;
		top: 0;
		bottom:0;
		right:0;
		min-height: 100%;
		min-width: 100%;
		max-height: 1550px auto;
		max-width: 750px auto;
		background-color: #FFFFFF;
		z-index:-100;
	}
	.loginbox{
		border-radius:15px;
		background-clip: padding-box;
		margin:20px auto;
		width:320px;
		height:250px;
		padding: 50px;
		background-color:#ffffff;
		box-shadow: 0 15px 25px rgba(212, 212, 212, 0.8);
	}
	.title{
		display:inline-block;
		width:100%;
		height:40px;
		font-size:30px;
		text-align: center;
		color: #535353;
		margin-top: 150px;
		margin-bottom: 10px;
	}
	.title2{
		display:inline-block;
		width:100%;
		height:40px;
		font-size:18px;
		text-align: center;
		color: #a6acb8;
	}
/* 	.verify{
		position:absolute;
		left:50%;
		top:50%;
		transform: translate(10%,-50%);
		padding:30px 10px 10px 20px;
		background-color: #ffffff;
		border-radius:5px;
		box-shadow: 0 15px 25px rgba(212, 212, 212, 0.8);
		z-index:100;
	} */
	.el-form-item__content{
		display:flex;
		align-items: center;
	}